[submodule "firecracker"]
	path = firecracker
	url = https://github.com/firecracker-microvm/firecracker.git
[submodule "firecracker-demo"]
	path = firecracker-demo
	url = https://github.com/firecracker-microvm/firecracker-demo.git
